@import url('https://fonts.googleapis.com/css2?family=Mali:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@600&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Mali:wght@600&family=Open+Sans:wght@400;700&display=swap');

/*
colores: 
#C1A5C2 lavanda original canva intermedio /// #BA7FC2 lavanda actual canva intenso /// #BF8975 rosa grisáceo
#73020C rojo lentes /// #C2A422 vestido mostaza ///  #72A603 verde hojitas soleadas*/

/*estilos generales*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #C1A5C2;
}
h1, h2, h3, h4, h5 {
    font-family: 'Imprima', sans-serif;
}
/*estilos nav*/
nav {
    background-color: #73020C;
    font-family: 'Imprima', sans-serif;
}
.logo {
    font-family: 'Mali', cursive;
    font-size: 2.5em;
}
/*estilos header*/
#headerKnowMe {
    background-image: url(/assets/img/perfil-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 48em;
    margin-top: 5.75em;
}
.spanHeadColor {
    color: #73020C;
}
/*estilos mi experiencia*/
#myExper {
    background-color: #FFFFFF;    
}
/*estilos herramientas*/
#tools {
    background-color: #72A603;
}
/*estilos contáctame*/
#contactMe {
    background-color: #FFFFFF;
}
/*estilos footer*/
footer {
    background-color: #73020C;
    font-family: 'Imprima', sans-serif;
}


